header {
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(src/Public/Static/Images/Banner.png);
}

.text-container {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 5px;
}

.text-container h1 {
    font-size: 100px;
}

.banner-title {
    color: transparent;
    -webkit-text-stroke: 0.1px white;
}