header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(src/Public/Static/Images/Banner.png);
}

.text-container {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 5px;
}

.gradient {
    width: inherit;
    height: inherit;    
    background: linear-gradient(to bottom, rgba(0, 153, 255, 0.5) 10%, transparent);
    position: absolute;
}

.text-container h1 {
    font-size: 100px;
    text-shadow: 2px 2px 20px #00000086;
}

.banner-title {
    color: transparent;
    -webkit-text-stroke: 0.1px white;
}