header {
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(src/Public/Static/Images/Banner.png);
}

.text-container {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.gradient {
    width: inherit;
    height: inherit;    
    position: absolute;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.9) 100%, transparent);
}

.text-container h1 {
    font-size: 75px;
    letter-spacing: 2.5px;
}

.text-container h3 {
    letter-spacing: 8px;
}

.banner-title {
    color: transparent;
    -webkit-text-stroke: 0.1px rgb(216, 115, 0);
}