.menu {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 20px 80px;
    z-index: 999;
}

.menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
}

.menu .logo img {
    width: auto;
    height: 64px;
    padding-right: 15px;
    filter: invert(100%);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    padding: 25px;
    color: white;
}

.button {
    background-color: orangered;
    padding: 15px 30px;
    border-radius: 10px;
}