@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    scroll-behavior: smooth;
    
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

div {
    display: block;
}